body{
    margin: 0;
    padding: 0;
    background: #e74c3c;
    font-family: 'Trebuchet MS', sans-serif;
}
.color{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hex{
    display: block;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}
.color button{
    background: none;
    outline: none;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    font-size: 24px;
}
h3{
    color: white;
}
